<!DOCTYPE html>
<html lang="fr">
<head>
    <title>WebDevTools</title>
    <meta charset="utf-8" />
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/devc.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
</head>
<body id="index" class="home">

<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">oneoneoneoneone</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
<nav>
  <div class="nav-wrapper blue">
    <ul class="left">
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1" data-constrainwidth="false">Examples<i class="material-icons right  show-on-large">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>

    <!-- ************  CODING ZONE  ************ -->
    <div id="code">
        <form method="post" action="{{ url_for(target) }}">
            <button type="submit" class="btn-large waves-effect waves-light orange right">Submit</button>
            {% block code %}
            {% endblock %}
        </form>
    </div>
    
    <!-- ************ RUNNING ZONE RESULTS ************ -->
    <div>
    <br><br><br>
    <div id="result">


Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a nibh eget nibh accumsan rutrum. Proin auctor, mi a bibendum iaculis, lectus justo facilisis orci, eu finibus dolor mauris et felis. Vestibulum id odio elit. 

Vivamus in rutrum urna. Nam nec auctor lacus. Aliquam erat volutpat. Pellentesque in ornare enim. Ut id velit nec nisi consequat rutrum eget quis metus. Nunc luctus et justo vitae facilisis. Quisque efficitur ipsum non justo tempus, fringilla fringilla enim dignissim.

Mauris pharetra feugiat augue, quis pulvinar odio gravida quis. In hac habitasse platea dictumst. Suspendisse consectetur semper quam. Donec ut leo rutrum, tincidunt 

tellus quis, sollicitudin nisi. Sed mattis turpis ex, id ullamcorper orci rhoncus sit amet. Sed finibus, velit at mollis pulvinar, purus magna rutrum tellus, eu lobortis mauris dolor non nunc. Quisque sagittis dui sit amet eros ultrices, in iaculis nunc maximus.

Cras metus libero, commodo tincidunt laoreet quis, condimentum eget velit. Nam ornare neque at interdum 

vehicula. Duis id nibh lacinia, fermentum nunc quis, sagittis sem. Proin mollis lectus vel ultricies tempus. Proin venenatis fringilla lorem non hend

rerit. Nulla vitae ipsum vel lacus euismod rutrum non id erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum 

felis tortor, bibendum non bibendum ac, fermentum eu enim. Aenean magna nulla, pretium ac ante quis, 

scelerisque pretium urna. Sed blandit convallis quam id malesuada. Aliquam erat volutpat. Etiam dictum ac augue et efficitur. Integer porta ex orci, in bibendum nibh vestibulum eget. Vestibulum elementum erat lobortis 

ligula iaculis aliquam. Etiam eu imperdiet velit, condimentum euismod lacus.

Donec ut vestibulum ligula. Morbi at velit eu leo feugiat sollicitudin vitae a arcu. Proin maximus nulla dolor, vel blandit purus sagittis rutrum. Nam sit a

met ipsum nec risus finibus rutrum vitae ac metus. Ut a molestie odio. Sed rhoncus metus a metus consequat, nec tempus lectus semper. Cras eleifend sed tortor ut consequat. Nullam eu nunc ut turpis auctor imperdiet sit amet auctor diam. Aenean pulvinar congue consequat. Pellentesque neque mauris, porta at laoreet id, sagittis id lectus. Quisque iaculis convallis mollis.

Suspendisse sed eleifend nibh, nec porta enim. Duis quis 

tellus magna. Proin vitae leo odio. Integer quis elit sem. Nam pharetra sollicitudin tellus sit amet dapibus. Vivamus rhoncus velit id nisi semper mattis. Quisque 
pulvinar dictum elementum. Proin volutpat at lorem eget ornare. Pellentesque id blandit nibh. Pellen
tesque vel erat nec risus cursus maximus. Sed nibh mauris, lacinia vitae fermentum sit amet, luctus in massa. Nulla eget tristique nisi, at ornare diam. Nunc ut lectus nec lectus molestie porta. Nulla arcu arcu, auctor eu sapien sed, sagittis iaculis erat. Phasellus pharetra odio sit amet ligula dictum iaculis. rerit. Nulla vitae ipsum vel lacus euismod rutrum non id erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum 

felis tortor, bibendum non bibendum ac, fermentum eu enim. Aenean magna nulla, pretium ac ante quis, 

scelerisque pretium urna. Sed blandit convallis quam id malesuada. Aliquam erat volutpat. Etiam dictum ac augue et efficitur. Integer porta ex orci, in bibendum nibh vestibulum eget. Vestibulum elementum erat lobortis 

ligula iaculis aliquam. Etiam eu imperdiet velit, condimentum euismod lacus.

Donec ut vestibulum ligula. Morbi at velit eu leo feugiat sollicitudin vitae a arcu. Proin maximus nulla dolor, vel blandit purus sagittis rutrum. Nam sit a

met ipsum nec risus finibus rutrum vitae ac metus. Ut a molestie odio. Sed rhoncus metus a metus consequat, nec tempus lectus semper. Cras eleifend sed tortor ut consequat. Nullam eu nunc ut turpis auctor imperdiet sit amet auctor diam. Aenean pulvinar congue consequat. Pellentesque neque mauris, porta at laoreet id, sagittis id lectus. Quisque iaculis convallis mollis.

Suspendisse sed eleifend nibh, nec porta enim. Duis quis 

tellus magna. Proin vitae leo odio. Integer quis elit sem. Nam pharetra sollicitudin tellus sit amet dapibus. Vivamus rhoncus velit id nisi semper mattis. Quisque 
pulvinar dictum elementum. Proin volutpat at lorem eget ornare. Pellentesque id blandit nibh. Pellen
tesque vel erat nec risus cursus maximus. Sed nibh mauris, lacinia vitae fermentum sit amet, luctus in massa. Nulla eget tristique nisi, at ornare diam. Nunc ut lectus nec lectus molestie porta. Nulla arcu arcu, auctor eu sapien sed, sagittis iaculis erat. Phasellus pharetra odio sit amet ligula dictum iaculis. 
        {% block run %}
        {% endblock %}
    </div>
    </div>

<script src="{{ url_for('static', filename='ace/ace.js') }}"></script>
<script>
    // The Ace editor needs divs instead of textareas
    // So we hide the textarea and show a div instead
    var editorElement = document.getElementById("text-code");
    editorElement.classList.add("hidden");
    document.getElementById("text-code-ace").classList.remove("hidden");

    // Set up the editor
    var editor = ace.edit("text-code-ace");
    editor.setTheme("ace/theme/tomorrow");
    var language = "python";
    editor.getSession().setMode("ace/mode/" + language);
</script>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

<script>
  $( document ).ready(function() {
    $(".dropdown-button").dropdown();
  });
</script>

</body>
</html>
